[submodule "advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-renaming"]
	path = advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-renaming
	url = https://github.com/codegym-vn/java-cleancode-refactoring-renaming
[submodule "advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-variable-extraction"]
	path = advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-variable-extraction
	url = https://github.com/codegym-vn/java-cleancode-refactoring-variable-extraction
[submodule "advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-method-extraction"]
	path = advance-java/week2/8.Clean-code-and-refactor/practice/java-cleancode-refactoring-method-extraction
	url = https://github.com/codegym-vn/java-cleancode-refactoring-method-extraction
[submodule "advance-java/week2/8.Clean-code-and-refactor/exercise/java-cleancode-refactoring-exercise"]
	path = advance-java/week2/8.Clean-code-and-refactor/exercise/java-cleancode-refactoring-exercise
	url = https://github.com/codegym-vn/java-cleancode-refactoring-exercise.git
[submodule "advance-java/week2/9.Automate-testing-and-TDD/practice/junit-simple-calculator"]
	path = advance-java/week2/9.Automate-testing-and-TDD/practice/junit-simple-calculator
	url = https://github.com/codegym-vn/junit-simple-calculator
[submodule "advance-java/week5/22.Structural-design-pattern/exercise/java-adapter-collection"]
	path = advance-java/week5/22.Structural-design-pattern/exercise/java-adapter-collection
	url = https://github.com/codegym-vn/java-adapter-collection
[submodule "advance-java/week5/22.Structural-design-pattern/exercise/java-facade-random"]
	path = advance-java/week5/22.Structural-design-pattern/exercise/java-facade-random
	url = https://github.com/codegym-vn/java-facade-random
