<app-name-card
  cardName="Professional Dev"
  email="prodev@abc.xyz"
  phone="0123456789"
>
</app-name-card>
<app-progress-bar width="65" backgroundColor="red" progressColor="blue">
</app-progress-bar>
<app-countdown-timer seconds="20"></app-countdown-timer>
<app-rating-bar [max]="10" (rateChange)="onRateChange($event)"></app-rating-bar>
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>
<div class="mat-headline">This is headline</div>
<div class="mat-title">This is title</div>
<div class="mat-subheading-2">Heading for h3</div>
<div class="mat-subheading-1">Heading for h4</div>
<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>
<button class="mat-flat-button">MattButton</button>
<button class="mat-stroke-button">Stroke</button>
