<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View category</title>
    <style>
        .ellipsis {
            max-width: 300px;
            text-overflow: clip;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/categories">Category list</a>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Content</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td th:text="${blog.id}"></td>
            <td><a href="" th:href="@{/view-blog/{id}(id=${blog.id})}" th:text="${blog.title}"></a></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.content}" class="ellipsis"></td>
        </tr>
    </th:block>
</table>
</body>
</html>