<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .ellipsis {
            max-width: 300px;
            text-overflow: clip;
            overflow: hidden;
            white-space: nowrap;
        }
    </style>
</head>
<body>
<a href="/create-blog">Create new blog</a>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}">
        <tr>
            <td><a href="" th:href="@{/view-blog/{id}(id=${blog.id})}" th:text="${blog.id}"></a></td>
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.author}"></td>
            <td th:text="${blog.content}" class="ellipsis"></td>
            <td><a th:href="@{/edit-blog/__${blog.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-blog/__${blog.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>